<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ss_class.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @ss_class.leader %>
</p>

<%= link_to 'Edit', edit_ss_class_path(@ss_class) %> |
<%= link_to 'Back', ss_classes_path %>
